@charset "utf-8";
/* CSS Document */

/*css默认设置*/
*{ margin:0; padding:0;}
ul,ol{ list-style:none;}
img{ border:none;}
body{ font-family:"Microsoft YaHei"; font-size:14px; color:#777; background-color:#f6f7f9;}
.blue{ color:#24c3fd;}
.gray{ color:#b3b3b3;}
.black{ color:#4d4d4d;}

/*整体布局*/
.top { height:28px; background-color:#3d4749;}
.header{ height:90px; background-color:#900;}
.banner{ height:170px; background-color:#36C;}
.arctile{ height:570px; background-color:#0CF; margin-bottom:120px;}
.footer{ height:140px; background-color:#93C;}


